In [2]:
# 数据分析 Pandas 
import pandas as pd
import numpy as np

In [3]:
#https://www.kaggle.com/datasets
#https://github.com/
#Series,DataFrame
#Series --->DataFrame
#Series 就是一个具有索引的数组
s = pd.Series(['a','b','c'],index=['aa','bb','cc'])
print (s)
print (s.index[0])

aa    a
bb    b
cc    c
dtype: object
aa

In [4]:
s[s>'b']

cc    c
dtype: object

In [5]:
#Dataframe的结构 是多个索引相同的series组成的
state = {
    "state":["北京",'北京','北京','上海','大连'],
    "year":[2017,2016,2015,2017,2017],
    "pop":[2200,2100,2000,1500,2300]
}
df=pd.DataFrame(state,index=['a','b','c','d','e'],columns=['state','year','pop'])
print(df["pop"])
print(df)

a    2200
b    2100
c    2000
d    1500
e    2300
Name: pop, dtype: int64
  state  year   pop
a    北京  2017  2200
b    北京  2016  2100
c    北京  2015  2000
d    上海  2017  1500
e    大连  2017  2300

In [44]:

print (df.state)
print (df["state"])
print (df[["state","year"]])
df['dept']=np.arange(5)
print (df.dept)

a    北京
b    北京
c    北京
d    上海
e    大连
Name: state, dtype: object
a    北京
b    北京
c    北京
d    上海
e    大连
Name: state, dtype: object
  state  year
a    北京  2017
b    北京  2016
c    北京  2015
d    上海  2017
e    大连  2017
a    0
b    1
c    2
d    3
e    4
Name: dept, dtype: int32

In [53]:
#列的数据取得了，行怎么取？
print (df.iloc[0])
print (df.iloc[[0,1,2]])
#df.loc[]根据数据源的索引值进行选取操作。
#df.iloc[]根据数据源的位置进行选取操作。
print (df.loc['a'])

state      北京
year     2017
pop      2200
dept        0
Name: a, dtype: object
  state  year   pop  dept
a    北京  2017  2200     0
b    北京  2016  2100     1
c    北京  2015  2000     2
state      北京
year     2017
pop      2200
dept        0
Name: a, dtype: object

In [55]:
df['state'][0]

'北京'

In [61]:
#下单最多的商品
df.head()

  state  year   pop  dept
a    北京  2017  2200     0
b    北京  2016  2100     1
c    北京  2015  2000     2
d    上海  2017  1500     3
e    大连  2017  2300     4

In [1]:
import pandas as pd
data2= pd.read_csv("D:\\QQ\\294103703\\FileRecv\\MobileFile\\orders.tsv",sep="\t")

In [2]:
index1=data2[data2['item_name'] == 'Chicken Bowl'].index
index1
print (data2.drop(index1))
data2['item_name'].sort_values()

      order_id  quantity                              item_name  \
0            1         1           Chips and Fresh Tomato Salsa
1            1         1                                   Izze
2            1         1                       Nantucket Nectar
3            1         1  Chips and Tomatillo-Green Chili Salsa
6            3         1                          Side of Chips
7            4         1                          Steak Burrito
8            4         1                       Steak Soft Tacos
9            5         1                          Steak Burrito
10           5         1                    Chips and Guacamole
11           6         1                   Chicken Crispy Tacos
12           6         1                     Chicken Soft Tacos
14           7         1                    Chips and Guacamole
15           8         1  Chips and Tomatillo-Green Chili Salsa
16           8         1                        Chicken Burrito
17           9         1                        Chicken Burrito
18           9         2                            Canned Soda
20          10         1                    Chips and Guacamole
21          11         1                       Barbacoa Burrito
22          11         1                       Nantucket Nectar
23          12         1                        Chicken Burrito
24          12         1                                   Izze
25          13         1           Chips and Fresh Tomato Salsa
27          14         1                       Carnitas Burrito
28          14         1                            Canned Soda
29          15         1                        Chicken Burrito
30          15         1  Chips and Tomatillo-Green Chili Salsa
31          16         1                          Steak Burrito
32          16         1                          Side of Chips
33          17         1                          Carnitas Bowl
34          17         1                          Bottled Water
...        ...       ...                                    ...
4584      1823         1                                  Chips
4585      1823         1                      Canned Soft Drink
4588      1824         1                    Chips and Guacamole
4592      1825         1                       Barbacoa Burrito
4593      1825         1                          Carnitas Bowl
4594      1825         1                          Barbacoa Bowl
4596      1826         1                    Chips and Guacamole
4597      1826         1                      Canned Soft Drink
4598      1826         1                          Bottled Water
4600      1827         1                    Chips and Guacamole
4601      1827         1                      Canned Soft Drink
4602      1827         1                       Barbacoa Burrito
4603      1827         1                       Barbacoa Burrito
4605      1828         1                    Chips and Guacamole
4606      1828         1                      Canned Soft Drink
4607      1829         1                          Steak Burrito
4608      1829         1                         Veggie Burrito
4609      1829         1                      Canned Soft Drink
4610      1830         1                          Steak Burrito
4611      1830         1                         Veggie Burrito
4612      1831         1                          Carnitas Bowl
4613      1831         1                                  Chips
4614      1831         1                          Bottled Water
4615      1832         1                     Chicken Soft Tacos
4616      1832         1                    Chips and Guacamole
4617      1833         1                          Steak Burrito
4618      1833         1                          Steak Burrito
4619      1834         1                     Chicken Salad Bowl
4620      1834         1                     Chicken Salad Bowl
4621      1834         1                     Chicken Salad Bowl

                                     choice_description item_price
0                                                   NaN     $2.39
1                                          [Clementine]     $3.39
2                                               [Apple]     $3.39
3                                                   NaN     $2.39
6                                                   NaN     $1.69
7     [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.75
8     [Tomatillo Green Chili Salsa, [Pinto Beans, Ch...     $9.25
9     [Fresh Tomato Salsa, [Rice, Black Beans, Pinto...     $9.25
10                                                  NaN     $4.45
11    [Roasted Chili Corn Salsa, [Fajita Vegetables,...     $8.75
12    [Roasted Chili Corn Salsa, [Rice, Black Beans,...     $8.75
14                                                  NaN     $4.45
15                                                  NaN     $2.39
16    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
17    [Fresh Tomato Salsa (Mild), [Black Beans, Rice...     $8.49
18                                             [Sprite]     $2.18
20                                                  NaN     $4.45
21    [[Fresh Tomato Salsa (Mild), Tomatillo-Green C...     $8.99
22                                 [Pomegranate Cherry]     $3.39
23    [[Tomatillo-Green Chili Salsa (Medium), Tomati...    $10.98
24                                         [Grapefruit]     $3.39
25                                                  NaN     $2.39
27    [[Tomatillo-Green Chili Salsa (Medium), Roaste...     $8.99
28                                         [Dr. Pepper]     $1.09
29    [Tomatillo-Green Chili Salsa (Medium), [Pinto ...     $8.49
30                                                  NaN     $2.39
31    [[Roasted Chili Corn Salsa (Medium), Fresh Tom...     $8.99
32                                                  NaN     $1.69
33    [Tomatillo-Red Chili Salsa (Hot), [Black Beans...     $8.99
34                                                  NaN     $1.09
...                                                 ...        ...
4584                                                NaN     $2.15
4585                                        [Diet Coke]     $1.25
4588                                                NaN     $4.45
4592  [Tomatillo Red Chili Salsa, [Rice, Fajita Vege...    $11.75
4593  [Roasted Chili Corn Salsa, [Rice, Sour Cream, ...    $11.75
4594  [Roasted Chili Corn Salsa, [Pinto Beans, Sour ...    $11.75
4596                                                NaN     $4.45
4597                                           [Nestea]     $1.25
4598                                                NaN     $1.50
4600                                                NaN     $4.45
4601                                        [Diet Coke]     $1.25
4602                      [Tomatillo Green Chili Salsa]     $9.25
4603                      [Tomatillo Green Chili Salsa]     $9.25
4605                                                NaN     $4.45
4606                                             [Coke]     $1.25
4607  [Tomatillo Green Chili Salsa, [Rice, Cheese, S...    $11.75
4608  [Tomatillo Red Chili Salsa, [Fajita Vegetables...    $11.25
4609                                           [Sprite]     $1.25
4610  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4611  [Tomatillo Green Chili Salsa, [Rice, Fajita Ve...    $11.25
4612  [Fresh Tomato Salsa, [Fajita Vegetables, Rice,...     $9.25
4613                                                NaN     $2.15
4614                                                NaN     $1.50
4615   [Fresh Tomato Salsa, [Rice, Cheese, Sour Cream]]     $8.75
4616                                                NaN     $4.45
4617  [Fresh Tomato Salsa, [Rice, Black Beans, Sour ...    $11.75
4618  [Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...    $11.75
4619  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...    $11.25
4620  [Fresh Tomato Salsa, [Fajita Vegetables, Lettu...     $8.75
4621  [Fresh Tomato Salsa, [Fajita Vegetables, Pinto...     $8.75

[3896 rows x 5 columns]

3389    6 Pack Soft Drink
341     6 Pack Soft Drink
1849    6 Pack Soft Drink
1860    6 Pack Soft Drink
2713    6 Pack Soft Drink
3422    6 Pack Soft Drink
553     6 Pack Soft Drink
1916    6 Pack Soft Drink
1922    6 Pack Soft Drink
1937    6 Pack Soft Drink
3836    6 Pack Soft Drink
298     6 Pack Soft Drink
1976    6 Pack Soft Drink
1167    6 Pack Soft Drink
3875    6 Pack Soft Drink
1124    6 Pack Soft Drink
3886    6 Pack Soft Drink
2108    6 Pack Soft Drink
3010    6 Pack Soft Drink
4535    6 Pack Soft Drink
4169    6 Pack Soft Drink
4174    6 Pack Soft Drink
4527    6 Pack Soft Drink
4522    6 Pack Soft Drink
3806    6 Pack Soft Drink
2389    6 Pack Soft Drink
3132    6 Pack Soft Drink
3141    6 Pack Soft Drink
639     6 Pack Soft Drink
1026    6 Pack Soft Drink
              ...
2996         Veggie Salad
3163         Veggie Salad
4084         Veggie Salad
1694         Veggie Salad
2756         Veggie Salad
4201    Veggie Salad Bowl
1884    Veggie Salad Bowl
455     Veggie Salad Bowl
3223    Veggie Salad Bowl
2223    Veggie Salad Bowl
2269    Veggie Salad Bowl
4541    Veggie Salad Bowl
3293    Veggie Salad Bowl
186     Veggie Salad Bowl
960     Veggie Salad Bowl
1316    Veggie Salad Bowl
2156    Veggie Salad Bowl
4261    Veggie Salad Bowl
295     Veggie Salad Bowl
4573    Veggie Salad Bowl
2683    Veggie Salad Bowl
496     Veggie Salad Bowl
4109    Veggie Salad Bowl
738     Veggie Soft Tacos
3889    Veggie Soft Tacos
2384    Veggie Soft Tacos
781     Veggie Soft Tacos
2851    Veggie Soft Tacos
1699    Veggie Soft Tacos
1395    Veggie Soft Tacos
Name: item_name, Length: 4622, dtype: object