In [43]:
# 数据分析 Pandas 
import pandas as pd
import numpy as np

In [9]:
#https://www.kaggle.com/datasets
#https://github.com/
#Series,DataFrame
#Series --->DataFrame
#Series 就是一个具有索引的数组
s = pd.Series(['a','b','c'],index=['aa','bb','cc'])
print (s)
print (s.index[0])

aa    a
bb    b
cc    c
dtype: object
aa

In [13]:
s[s>'b']

cc    c
dtype: object

In [29]:
#Dataframe的结构 是多个索引相同的series组成的
state = {
    "state":["北京",'北京','北京','上海','大连'],
    "year":[2017,2016,2015,2017,2017],
    "pop":[2200,2100,2000,1500,2300]
}
df=pd.DataFrame(state,index=['a','b','c','d','e'],columns=['state','year','pop'])
print(df["pop"])
print(df)

a    2200
b    2100
c    2000
d    1500
e    2300
Name: pop, dtype: int64
  state  year   pop
a    北京  2017  2200
b    北京  2016  2100
c    北京  2015  2000
d    上海  2017  1500
e    大连  2017  2300

In [44]:

print (df.state)
print (df["state"])
print (df[["state","year"]])
df['dept']=np.arange(5)
print (df.dept)

a    北京
b    北京
c    北京
d    上海
e    大连
Name: state, dtype: object
a    北京
b    北京
c    北京
d    上海
e    大连
Name: state, dtype: object
  state  year
a    北京  2017
b    北京  2016
c    北京  2015
d    上海  2017
e    大连  2017
a    0
b    1
c    2
d    3
e    4
Name: dept, dtype: int32

In [53]:
#列的数据取得了，行怎么取？
print (df.iloc[0])
print (df.iloc[[0,1,2]])
#df.loc[]根据数据源的索引值进行选取操作。
#df.iloc[]根据数据源的位置进行选取操作。
print (df.loc['a'])

state      北京
year     2017
pop      2200
dept        0
Name: a, dtype: object
  state  year   pop  dept
a    北京  2017  2200     0
b    北京  2016  2100     1
c    北京  2015  2000     2
state      北京
year     2017
pop      2200
dept        0
Name: a, dtype: object

In [55]:
df['state'][0]

'北京'

In [61]:
#下单最多的商品
df.head()

  state  year   pop  dept
a    北京  2017  2200     0
b    北京  2016  2100     1
c    北京  2015  2000     2
d    上海  2017  1500     3
e    大连  2017  2300     4

In [63]:
import pandas as pd
data2= pd.read("D:\\QQ\\294103703\\FileRecv\\MobileFile\\orders.tsv")

AttributeError: module 'pandas' has no attribute 'read'